a,h1,h2,h3,p,span {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

#header, .nyc {
  background-image: url(../images/the-flatiron-building.png);
  background-position: center;
  color: white;
}
#footer {
  text-align: left;
  font-size: 11px;
  background-color: dimgray;
  color: white;
}
a {
  border-bottom: 1px;
  color: white;
  font-size: 18px;
}

h1 {
  color: White;
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}
